{% extends 'profiles/profile_base.html' %}

{% load static %}

{% block right %}
    <!-- Posts List start -->
    <div class="col-md-6 change-gutters">
        <!-- Post Form start -->
        <!-- Post Form end -->

    </div>
    <!-- Posts List end -->

    <div class="col-md-3 change-gutters">
        <!-- Discussions List start -->

        <!-- Discussions List end -->

        {% if user.id == owner.id %}
            <!-- Friends List start -->
            <div class="card post-card">

                <ul class="list-group list-group-flush">
                    {% for friend in friend_list %}
                        <li class="list-group-item">
                            <a href="{% url 'profiles:visit_home' friend.id %}">
                                <img class="rounded-circle" width="20"
                                        {% if friend.customuserprofile.photo.url is not None %}
                                     src="{{ friend.customuserprofile.photo.url }}"
                                        {% else %} src="{% static 'default_photo.jpg' %}" {% endif %}
                                     alt="{{ friend.username }}'s Profile Photo">
                                <span>{{ friend.username }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Friends List end -->
        {% endif %}
    </div>

    <!-- Message Notifications -->
    <div id="id_ajax_notification" class="modal fade bottom" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row d-flex justify-content-center align-items-center">
                        <p id="id_ajax_notification_body" class="pt-3 pr-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js-extra-script %}
    <script>
        $(document).ready(function () {
            {% if user.id == owner.id %}
            {% endif %}

            refreshPosts();
        });

        function refreshPosts() {
            $(".pagination a.page-link").on('click', function (event) {
                event.preventDefault();
            });
        }

        {% if user.id == owner.id %}
            function refreshForms() {
                $("form").on("submit", function (event) {
                    event.preventDefault();
                    $.ajax({
                        data: $(this).serialize(),
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        success: function (response) {
                            console.log(response)
                            $("#id_ajax_notification_body").html(response.message);
                            // message notification
                            $("#id_ajax_notification").modal('toggle');
                        },
                        error: function (data) {
                            $("#id_ajax_notification_body").html('Please wait for a moment...');
                            // message notification
                            $("#id_ajax_notification").modal('toggle');
                        }
                    });
                });
            }
        {% endif %}
    </script>
{% endblock %}