{% extends 'base.html' %}

{% load static %}

{% block title %}
    Welcome to {{ owner.username }}'s Home Page
{% endblock %}

{% block content %}
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-md-3 change-gutters">
                <!-- User Personal Information start -->
                <div class="card post-card">
                    <a href="{% url 'profiles:visit_home' owner.id %}">
                        <img class="rounded-circle card-img-top"
                                {% if owner.customuserprofile.photo.url is not None %}
                             src="{{ owner.customuserprofile.photo.url }}"
                                {% else %} src="{% static 'default_photo.jpg' %}" {% endif %}
                             alt="{{ owner.username }}'s Profile Photo">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text">{{ owner.username }}</h5>
                        {% if user.id == owner.id %}
                            <div>
                                <a href="{% url 'users:profile' owner.id %}" class="btn btn-primary btn-sm">
                                    Edit Profile</a>
                            </div>
                        {% endif %}
                        <!-- Delete Friendship -->

                        <!-- Delete Friendship -->

                        <!-- Add Friendship -->

                        <!-- Add Friendship -->
                    </div>

                    <div class="card-footer text-muted">
                        Last login: {{ owner.last_login }}
                    </div>
                </div>
                <!-- User Personal Information end -->
            </div>

            <!-- Right Side start -->
            {% block right %}
            {% endblock %}
            <!-- Right Side end -->
        </div>
    </div>
{% endblock %}